<section class="page-section__main-content">

    <div class="pad-panel-container">

        <div class="pad-panel pad-panel--editor">
            <h2 class="pad-panel__header">Markdown</h2>
            <textarea class="pad-panel__content edit-text"></textarea>
        </div>

        <div class="pad-panel pad-panel--preview">
            <h2 class="pad-panel__header">Preview</h2>
            <div class="pad-panel__content preview-text"></div>
        </div>
    </div>

</section>
