<section class="page-section__main-content">

    <div class="pad-panel-container">


        <div class="pad-panel pad-panel--editor">
            <h2>Markdown</h2>
            <textarea class="edit-text"></textarea>
        </div>

        <div class="pad-panel pad-panel--preview">
            <h2>Preview</h2>
            <div class="preview-text"></div>
        </div>
    </div>

</section>
