<section class="page-section_footer">
    <footer>
        <div class="content-wrapper">
            <p>
                <span>Copyright &copy; 2015</span>
                <span>Issues? Submit to <a href="https://github.com/BrianSipple/node-markdown/issues"> GitHub.</a>
            </p>
        </div>
    </footer>
</section>
