<div class="navbar">
    <div class="navbar__items">

        <div class="navbar__logo">
            Markdown Magic
        </div>

        <div class="navbar__links">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/login">Login</a></li>
        </div>

    </div>
</div>

