@import 'application';


@media screen {

    .menu {
        padding-bottom: 1.25em;
        border-bottom: 1px solid hsla(0, 0%, 91%, 1);
        margin-bottom: 3.125em;
    }

    .pad-panel-container {
        display: flex;
        flex-direction: row;
        height: 100%;
    }

    .pad-panel {
        height: 100%;
        flex: 1;
        overflow: auto;
        text-align: left;

        &[class$="--editor"] {
        }

        &[class$="--preview"] {
            border-left: 1px solid black;
        }
    }

    .pad-panel__header {
        font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
    }
    .pad-panel__content {
        padding: 0.3em 0.8em;
    }

    .edit-text {
        font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
        resize: none;  /* no messing with our textarea elem size */
        border: none;
        outline: none;
        box-shadow: none;
        height: 100%;
        width: 100%;
    }

    footer {
        a {
            text-decoration: none;
        }
    }
}


